.navbar {
  display: flex;
  background-color: #000;
  padding: 20px 10px;
}

.navbar a {
  color: #fff;
  margin-right: 1em;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
  color: #999;
}
