.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  height: 150px;
  color: #fff;
  margin-top: 2em;
  border-top: 3px solid #111;
}

.footer span {
  font-weight: bold;
}
