.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.title {
  color: #e33d33;
  text-align: center;
  font-size: 3em;
  margin-right: 0.4em;
}

.title span {
  color: #000;
}

.pokemon_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
